<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="static/images/New_Template-Photoroom__2_-removebg-preview.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/settings.css">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">InvenHub</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/dashboard" class="sidebar-link">
                        <i><img height="25px" width="25px" src="/static/images/icons8-home (2).svg" alt=""></i>
                        <span style="margin-left: 20px;">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/inventory" class="sidebar-link">
                        <i><img height="25px" width="25px" src="/static/images/icons8-inventory-50.png" alt="warehouse-1"/></i>
                        <span style="margin-left: 20px;">Inventory</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i><img height="25px" width="25px" src="/static/images/icons8-graph-48.png" alt="warehouse-1"/></i>
                        <span style="margin-left: 20px;">Reports</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/transactions" class="sidebar-link">
                        <i><img height="25px" width="25px" src="/static/images/icons8-order-50.png" alt="warehouse-1"/></i>
                        <span style="margin-left: 20px;">Transactions</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/new_sale" class="sidebar-link">
                        <i><img height="25px" width="25px" src="/static/images/icons8-plus.svg" alt="warehouse-1"/></i>
                        <span style="margin-left: 20px;">New Sale</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="/settings" class="sidebar-link">
                    <i><img height="25px" width="25px" src="/static/images/icons8-settings.svg" alt="warehouse-1"/></i>
                    <span style="margin-left: 20px;">Settings</span>
                </a>
            </div>
            <div class="sidebar-footer">
                <a href="{{ url_for('logout') }}" class="sidebar-link">
                    <i><img height="25px" width="25px" src="/static/images/icons8-logout-50 (1).png" alt="warehouse-1"/></i>
                    <span style="margin-left: 20px;">Logout</span>
                </a>
            </div>
        </aside>
        <div class="main" id="bg">
            <div class="row justify-content-center align-items-center" style="height: 8vh; background-color: #c2ddf5;">
                <div class="col-10">
                    <div class="row justify-content-center align-items-center">
                        <div class="col"></div>
                        <div class="col-5" style="height: auto;">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-1"><button class="btn" id="btnn" type="submit">Search</button></div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-6" id="clock" style="height: 100%;"></div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-items-center" style="height: auto;">
                    <div class="row">
                        <div class="col">
                            <div class="dropdown dropleft">
                                <a class="notification-icon position-relative" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i><img height="30px" width="28px" src="/static/images/icons8-notification (3).svg" alt=""></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="notificationDropdown">
                                    <li class="dropdown-header">Notifications</li>
                                    <li><a class="dropdown-item" href="#">New message received</a></li>
                                    <li><a class="dropdown-item" href="#">Server alert</a></li>
                                    <li><a class="dropdown-item" href="#">Update available</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-center" href="#">View all</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            {% if user.profile_picture %}
                                <a href="/account"><img height="30px" width="30px" src="{{ url_for('profile_picture', user_id=user.id) }}" alt="" id="acc"></a>
                            {% else %}
                                <a href="/account"><img height="30px" width="30px" src="/static/images/icons8-account-50.png" alt="" id="acc"></a>
                            {% endif %}
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <h2 class="mb-4 text-center">Settings</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active mb-1" data-bs-toggle="list" data-target="#general">General</a>
                            <a href="#" class="list-group-item list-group-item-action mb-1" data-bs-toggle="list" data-target="#security">Security</a>
                            <a href="#" class="list-group-item list-group-item-action mb-1" data-bs-toggle="list" data-target="#notifications">Notifications</a>
                            <a href="#" class="list-group-item list-group-item-action mb-1" data-bs-toggle="list" data-target="#integrations">Integrations</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="general">
                                <h3>General Settings</h3>
                                <form>
                                    <div class="mb-3">
                                        <label for="companyName" class="form-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyName" value="InvenHub">
                                    </div>
                                    <div class="mb-3">
                                        <label for="timezone" class="form-label">Timezone</label>
                                        <select class="form-select" id="timezone">
                                            <option value="UTC">UTC</option>
                                            <option value="EST">EST</option>
                                            <option value="PST">PST</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="language" class="form-label">Language</label>
                                        <select class="form-select" id="language">
                                            <option value="en">English</option>
                                            <option value="es">Spanish</option>
                                            <option value="fr">French</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="security">
                                <h3>Security Settings</h3>
                                <form>
                                    <div class="mb-3">
                                        <label for="currentPassword" class="form-label">Current Password</label>
                                        <input type="password" class="form-control" id="currentPassword">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label">New Password</label>
                                        <input type="password" class="form-control" id="newPassword">
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmPassword" class="form-label">Confirm New Password</label>
                                        <input type="password" class="form-control" id="confirmPassword">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="twoFactor">
                                        <label class="form-check-label" for="twoFactor">Enable Two-Factor Authentication</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Security Settings</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="notifications">
                                <h3>Notification Preferences</h3>
                                <form>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="emailNotif">
                                        <label class="form-check-label" for="emailNotif">Receive Email Notifications</label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="smsNotif">
                                        <label class="form-check-label" for="smsNotif">Receive SMS Notifications</label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="lowStockAlert">
                                        <label class="form-check-label" for="lowStockAlert">Low Stock Alerts</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Notification Settings</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="integrations">
                                <h3>Integrations</h3>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">QuickBooks Integration</h5>
                                        <p class="card-text">Connect your QuickBooks account for seamless financial tracking.</p>
                                        <button class="btn btn-success">Connect QuickBooks</button>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Shopify Integration</h5>
                                        <p class="card-text">Sync your Shopify store with InvenHub.</p>
                                        <button class="btn btn-success">Connect Shopify</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>           
        <script src="/static/js/settings.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/static/js/dashboard.js"></script>
</body>
</html>